In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../../Main/main.csv')

In [5]:
df.head()

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.3
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.4
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.7
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.0
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.2

In [6]:
count = df.groupby('Country').agg({'Year': 'count'})
count

                     Year
Country
Afghanistan            10
Albania                15
Algeria                13
Antigua and Barbuda    15
Argentina              13
...                   ...
Uzbekistan             15
Vanuatu                13
Viet Nam               10
Zambia                 15
Zimbabwe               10

[163 rows x 1 columns]

In [7]:
len(count[count['Year']>=15])

82

In [8]:
select_countries = count[count['Year'] >= 15].index

In [9]:
len(select_countries)

82

In [10]:
df = df[df['Country'].isin(select_countries)]

In [11]:
print(len(df.groupby('Country').agg({'Year': 'count'})))
len(df)
# We have 117 countries and 1621 rows remaining from our original df.

82

1230

We will check if the trend of the graphs when removing the countries for which we have less than 15 years available is similar than the trend that we have when keeping all the information we have available.

In [12]:
df.to_csv('graphs.csv')