In [1]:
import pandas as pd
import numpy as np
import pycountry

In [2]:
df_efi = pd.read_csv('raw_economic_freedom_scores_1995_2023.csv')

In [3]:
df_efi.head()

,Id,Name,Short Name,ISO Code,Index Year,Overall Score,Property Rights,Judicial Effectiveness,Government Integrity,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,1,Afghanistan,Afghanistan,AF,2023,NaN,5.8,5.4,12.7,NaN,NaN,NaN,34.6,45.1,NaN,NaN,NaN,NaN
1,2,Albania,Albania,AL,2023,65.3,55.9,49.2,35.5,89.1,71.0,58.2,70.7,49.7,81.3,82.8,70.0,70.0
2,3,Algeria,Algeria,DZ,2023,43.2,27.8,29.5,28.4,71.9,50.7,12.1,53.6,51.4,75.1,57.5,30.0,30.0
3,4,Angola,Angola,AO,2023,53.0,41.1,24.8,22.9,86.5,86.9,85.1,41.6,53.9,58.9,64.8,30.0,40.0
4,5,Argentina,Argentina,AR,2023,51.0,34.6,56.8,42.8,66.9,53.9,33.6,55.5,55.1,36.5,61.2,55.0,60.0

In [4]:
df_efi = df_efi.drop('Id', axis=1)

In [5]:
df_efi.rename(columns={'ISO Code': 'ISO_code_alpha2'}, inplace=True)

In [6]:
iso3_mapping = {country.alpha_2: country.alpha_3 for country in pycountry.countries}

In [7]:
df_efi['ISO_code_alpha3'] = df_efi['ISO_code_alpha2'].map(iso3_mapping)

In [8]:
df_efi

,Name,Short Name,ISO_code_alpha2,Index Year,Overall Score,Property Rights,Judicial Effectiveness,Government Integrity,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,ISO_code_alpha3
0,Afghanistan,Afghanistan,AF,2023,NaN,5.8,5.4,12.7,NaN,NaN,NaN,34.6,45.1,NaN,NaN,NaN,NaN,AFG
1,Albania,Albania,AL,2023,65.3,55.9,49.2,35.5,89.1,71.0,58.2,70.7,49.7,81.3,82.8,70.0,70.0,ALB
2,Algeria,Algeria,DZ,2023,43.2,27.8,29.5,28.4,71.9,50.7,12.1,53.6,51.4,75.1,57.5,30.0,30.0,DZA
3,Angola,Angola,AO,2023,53.0,41.1,24.8,22.9,86.5,86.9,85.1,41.6,53.9,58.9,64.8,30.0,40.0,AGO
4,Argentina,Argentina,AR,2023,51.0,34.6,56.8,42.8,66.9,53.9,33.6,55.5,55.1,36.5,61.2,55.0,60.0,ARG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5334,Venezuela,Venezuela,VE,1995,59.8,50.0,NaN,10.0,80.0,76.1,NaN,85.0,NaN,52.0,65.0,50.0,70.0,VEN
5335,Vietnam,Vietnam,VN,1995,41.7,10.0,NaN,10.0,68.8,87.1,NaN,40.0,NaN,55.2,44.6,30.0,30.0,VNM
5336,Yemen,Yemen,YE,1995,49.8,30.0,NaN,10.0,78.2,73.4,NaN,70.0,NaN,41.8,45.0,70.0,30.0,YEM
5337,Zambia,Zambia,ZM,1995,55.1,50.0,NaN,30.0,72.4,74.8,NaN,55.0,NaN,12.2,61.2,70.0,70.0,ZMB
5338,Zimbabwe,Zimbabwe,ZW,1995,48.5,50.0,NaN,30.0,50.1,65.3,NaN,55.0,NaN,54.7,51.8,30.0,50.0,ZWE

In [9]:
df_efi.isna().sum()

Name                         0
Short Name                   0
ISO_code_alpha2             29
Index Year                   0
Overall Score              545
Property Rights            501
Judicial Effectiveness    4057
Government Integrity       485
Tax Burden                 529
Government Spending        513
Fiscal Health             4071
Business Freedom           490
Labor Freedom             1984
Monetary Freedom           505
Trade Freedom              521
Investment Freedom         506
Financial Freedom          527
ISO_code_alpha3             40
dtype: int64

In [10]:
len(df_efi)

5339

In [11]:
df_efi[df_efi['ISO_code_alpha3'].isna()==True]['Short Name'].unique()

array(['Namibia', 'Kosovo'], dtype=object)

In [12]:
df_efi[df_efi['Overall Score'].isna()==True]['Short Name'].unique()

array(['Afghanistan', 'Iraq', 'Libya', 'Liechtenstein', 'Syria',
       'Ukraine', 'Yemen', 'Somalia', 'HongKong', 'Macau', 'Sudan',
       'Kosovo', 'Bhutan', 'Comoros', 'DemocraticRepublicCongo',
       'Dominica', 'Eritrea', 'Kiribati', 'Liberia', 'Maldives',
       'Micronesia', 'Montenegro', 'PapuaNewGuinea', 'SaintLucia',
       'SaintVincentGrenadines', 'Samoa', 'SaoTomePrincipe', 'Serbia',
       'Seychelles', 'SolomonIslands', 'TimorLeste', 'Tonga', 'Vanuatu',
       'Angola', 'Burundi', 'SierraLeone', 'CentralAfricanRepublic',
       'Macedonia', 'EquatorialGuinea', 'GuineaBissau', 'Mauritius',
       'Qatar', 'Togo', 'BosniaHerzegovina', 'Kazakhstan',
       'KyrgyzRepublic', 'Tajikistan', 'Turkmenistan', 'Uzbekistan',
       'Cambodia', 'Chad', 'Djibouti', 'Gambia', 'Iceland', 'Namibia',
       'Rwanda', 'Armenia', 'Azerbaijan', 'Barbados', 'Belgium', 'Benin',
       'BurkinaFaso', 'Burma', 'CapeVerde', 'RepublicCongo', 'Croatia',
       'Cyprus', 'Denmark', 'Finland', 'Georgia', 'Iran', 'Kuwait',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Mauritania', 'Nepal', 'Netherlands', 'NewZealand', 'Niger',
       'Norway', 'SaudiArabia', 'Senegal', 'Slovenia', 'Suriname',
       'Switzerland', 'TrinidadTobago', 'UnitedArabEmirates'],
      dtype=object)

In [13]:
df_efi = df_efi.dropna(subset=['ISO_code_alpha3'])

In [14]:
df_efi = df_efi.dropna(subset=['Overall Score'])

In [15]:
df_efi.isna().sum()

Name                         0
Short Name                   0
ISO_code_alpha2              0
Index Year                   0
Overall Score                0
Property Rights              0
Judicial Effectiveness    3522
Government Integrity         0
Tax Burden                   0
Government Spending          0
Fiscal Health             3522
Business Freedom             0
Labor Freedom             1482
Monetary Freedom             0
Trade Freedom                0
Investment Freedom           0
Financial Freedom            0
ISO_code_alpha3              0
dtype: int64

In [16]:
df_efi = df_efi.drop('Short Name', axis=1)

In [17]:
df_efi.rename(columns={'Name': 'Country'}, inplace=True)

col_order = ['Country', 'ISO_code_alpha3', 'ISO_code_alpha2', 'Index Year', 'Overall Score',
                'Property Rights', 'Judicial Effectiveness', 'Government Integrity',
                'Tax Burden', 'Government Spending', 'Fiscal Health',
                'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
                'Trade Freedom', 'Investment Freedom', 'Financial Freedom']
df_efi = df_efi[col_order]

In [18]:
df_efi['Rule of Law'] = np.where(df_efi['Judicial Effectiveness'].isna(), np.nan, (df_efi['Property Rights'] + df_efi['Government Integrity'] + df_efi['Judicial Effectiveness']) / 3)
df_efi['Government Size'] = np.where(df_efi['Fiscal Health'].isna(), np.nan, (df_efi['Government Spending'] + df_efi['Tax Burden'] + df_efi['Fiscal Health']) / 3)
df_efi['Regulatory Efficiency'] = (df_efi['Business Freedom'] + df_efi['Labor Freedom'] + df_efi['Monetary Freedom']) / 3
df_efi['Open Markets'] = (df_efi['Trade Freedom'] + df_efi['Investment Freedom'] + df_efi['Financial Freedom']) / 3

In [19]:
df_efi['Rule of Law'] = df_efi['Rule of Law'].round(2)
df_efi['Government Size'] = df_efi['Government Size'].round(2)
df_efi['Regulatory Efficiency'] = df_efi['Regulatory Efficiency'].round(2)
df_efi['Open Markets'] = df_efi['Open Markets'].round(2)

In [20]:
df_efi

,Country,ISO_code_alpha3,ISO_code_alpha2,Index Year,Overall Score,Property Rights,Judicial Effectiveness,Government Integrity,Tax Burden,Government Spending,...,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets
1,Albania,ALB,AL,2023,65.3,55.9,49.2,35.5,89.1,71.0,...,70.7,49.7,81.3,82.8,70.0,70.0,46.87,72.77,67.23,74.27
2,Algeria,DZA,DZ,2023,43.2,27.8,29.5,28.4,71.9,50.7,...,53.6,51.4,75.1,57.5,30.0,30.0,28.57,44.90,60.03,39.17
3,Angola,AGO,AO,2023,53.0,41.1,24.8,22.9,86.5,86.9,...,41.6,53.9,58.9,64.8,30.0,40.0,29.60,86.17,51.47,44.93
4,Argentina,ARG,AR,2023,51.0,34.6,56.8,42.8,66.9,53.9,...,55.5,55.1,36.5,61.2,55.0,60.0,44.73,51.47,49.03,58.73
5,Armenia,ARM,AM,2023,65.1,50.3,31.5,51.6,87.5,76.3,...,64.9,58.7,70.5,73.6,75.0,70.0,44.47,78.40,64.70,72.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5334,Venezuela,VEN,VE,1995,59.8,50.0,NaN,10.0,80.0,76.1,...,85.0,NaN,52.0,65.0,50.0,70.0,NaN,NaN,NaN,61.67
5335,Vietnam,VNM,VN,1995,41.7,10.0,NaN,10.0,68.8,87.1,...,40.0,NaN,55.2,44.6,30.0,30.0,NaN,NaN,NaN,34.87
5336,Yemen,YEM,YE,1995,49.8,30.0,NaN,10.0,78.2,73.4,...,70.0,NaN,41.8,45.0,70.0,30.0,NaN,NaN,NaN,48.33
5337,Zambia,ZMB,ZM,1995,55.1,50.0,NaN,30.0,72.4,74.8,...,55.0,NaN,12.2,61.2,70.0,70.0,NaN,NaN,NaN,67.07
5338,Zimbabwe,ZWE,ZW,1995,48.5,50.0,NaN,30.0,50.1,65.3,...,55.0,NaN,54.7,51.8,30.0,50.0,NaN,NaN,NaN,43.93

In [21]:
df_efi[df_efi.select_dtypes(include=['float']).columns] = df_efi.select_dtypes(include=['float']).round(2)

In [22]:
df_efi.dtypes

Country                    object
ISO_code_alpha3            object
ISO_code_alpha2            object
Index Year                  int64
Overall Score             float64
Property Rights           float64
Judicial Effectiveness    float64
Government Integrity      float64
Tax Burden                float64
Government Spending       float64
Fiscal Health             float64
Business Freedom          float64
Labor Freedom             float64
Monetary Freedom          float64
Trade Freedom             float64
Investment Freedom        float64
Financial Freedom         float64
Rule of Law               float64
Government Size           float64
Regulatory Efficiency     float64
Open Markets              float64
dtype: object

In [23]:
df_efi.insert(0, 'id', df_efi['ISO_code_alpha3'] + '-' + df_efi['Index Year'].astype(str))

In [24]:
df_efi

,id,Country,ISO_code_alpha3,ISO_code_alpha2,Index Year,Overall Score,Property Rights,Judicial Effectiveness,Government Integrity,Tax Burden,...,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets
1,ALB-2023,Albania,ALB,AL,2023,65.3,55.9,49.2,35.5,89.1,...,70.7,49.7,81.3,82.8,70.0,70.0,46.87,72.77,67.23,74.27
2,DZA-2023,Algeria,DZA,DZ,2023,43.2,27.8,29.5,28.4,71.9,...,53.6,51.4,75.1,57.5,30.0,30.0,28.57,44.90,60.03,39.17
3,AGO-2023,Angola,AGO,AO,2023,53.0,41.1,24.8,22.9,86.5,...,41.6,53.9,58.9,64.8,30.0,40.0,29.60,86.17,51.47,44.93
4,ARG-2023,Argentina,ARG,AR,2023,51.0,34.6,56.8,42.8,66.9,...,55.5,55.1,36.5,61.2,55.0,60.0,44.73,51.47,49.03,58.73
5,ARM-2023,Armenia,ARM,AM,2023,65.1,50.3,31.5,51.6,87.5,...,64.9,58.7,70.5,73.6,75.0,70.0,44.47,78.40,64.70,72.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5334,VEN-1995,Venezuela,VEN,VE,1995,59.8,50.0,NaN,10.0,80.0,...,85.0,NaN,52.0,65.0,50.0,70.0,NaN,NaN,NaN,61.67
5335,VNM-1995,Vietnam,VNM,VN,1995,41.7,10.0,NaN,10.0,68.8,...,40.0,NaN,55.2,44.6,30.0,30.0,NaN,NaN,NaN,34.87
5336,YEM-1995,Yemen,YEM,YE,1995,49.8,30.0,NaN,10.0,78.2,...,70.0,NaN,41.8,45.0,70.0,30.0,NaN,NaN,NaN,48.33
5337,ZMB-1995,Zambia,ZMB,ZM,1995,55.1,50.0,NaN,30.0,72.4,...,55.0,NaN,12.2,61.2,70.0,70.0,NaN,NaN,NaN,67.07
5338,ZWE-1995,Zimbabwe,ZWE,ZW,1995,48.5,50.0,NaN,30.0,50.1,...,55.0,NaN,54.7,51.8,30.0,50.0,NaN,NaN,NaN,43.93

In [25]:
df_efi.dtypes

id                         object
Country                    object
ISO_code_alpha3            object
ISO_code_alpha2            object
Index Year                  int64
Overall Score             float64
Property Rights           float64
Judicial Effectiveness    float64
Government Integrity      float64
Tax Burden                float64
Government Spending       float64
Fiscal Health             float64
Business Freedom          float64
Labor Freedom             float64
Monetary Freedom          float64
Trade Freedom             float64
Investment Freedom        float64
Financial Freedom         float64
Rule of Law               float64
Government Size           float64
Regulatory Efficiency     float64
Open Markets              float64
dtype: object

In [26]:
len(df_efi)

4759

In [27]:
df_efi.to_csv('prepared_economic_freedom_scores_1995_2023.csv', index=False)