In [1]:
import pandas as pd
import numpy as np
import pycountry

In [2]:
df = pd.read_excel('raw_worldbank_new_firms_historical_data_1.xlsx')

In [3]:
iso3_mapping = {country.name: country.alpha_3 for country in pycountry.countries}

In [4]:
df['ISO_code_alpha3'] = df['Economy'].map(iso3_mapping)

In [5]:
df[df['ISO_code_alpha3'].isna()==True]['Economy'].unique()

array(['Antigua and Barbuda*', 'Bahrain*', 'Barbados*', 'Belize*',
       'Bolivia', 'Brazil ', 'Canada**', 'China***', 'Congo, Dem. Rep.',
       'Cook Islands*', 'Czech Republic', 'Dominica*', 'Egypt, Arab Rep.',
       'Grenada*', 'Hong Kong SAR, China*', 'Iran, Islamic Rep.',
       'Isle of Man*', 'Kosovo', 'Kyrgyz Republic', 'Lao PDR', 'Liberia*',
       'Liechtenstein*', 'Mauritius*', 'Micronesia, Fed. Sts.',
       'Netherlands Antilles', 'Panama*', 'Philippines*',
       'São Tomé and Príncipe', 'Seychelles*', 'Singapore*',
       'Slovak Republic', 'St. Lucia*', 'St. Vincent and the Grenadines*',
       'Taiwan, China', 'Tanzania', 'Vanuatu*', 'Vietnam'], dtype=object)

In [6]:
df['Economy'] = df['Economy'].str.replace('*', '')

C:\Users\dcast\AppData\Local\Temp\ipykernel_17116\1441906330.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Economy'] = df['Economy'].str.replace('*', '')

In [7]:
df['ISO_code_alpha3'] = df['Economy'].map(iso3_mapping)

In [8]:
df[df['ISO_code_alpha3'].isna()==True]['Economy'].unique()

array(['Bolivia', 'Brazil ', 'Congo, Dem. Rep.', 'Czech Republic',
       'Egypt, Arab Rep.', 'Hong Kong SAR, China', 'Iran, Islamic Rep.',
       'Kosovo', 'Kyrgyz Republic', 'Lao PDR', 'Micronesia, Fed. Sts.',
       'Netherlands Antilles', 'São Tomé and Príncipe', 'Slovak Republic',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Taiwan, China',
       'Tanzania', 'Vietnam'], dtype=object)

In [9]:
country_names = [country.name for country in pycountry.countries]
print(country_names)

['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Åland Islands', 'Albania', 'Andorra', 'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa', 'Antarctica', 'French Southern Territories', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Bonaire, Sint Eustatius and Saba', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina', 'Saint Barthélemy', 'Belarus', 'Belize', 'Bermuda', 'Bolivia, Plurinational State of', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Bouvet Island', 'Botswana', 'Central African Republic', 'Canada', 'Cocos (Keeling) Islands', 'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon', 'Congo, The Democratic Republic of the', 'Congo', 'Cook Islands', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Curaçao', 'Christmas Island', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands (Malvinas)', 'France', 'Faroe Islands', 'Micronesia, Federated States of', 'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'French Guiana', 'Guam', 'Guyana', 'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'British Indian Ocean Territory', 'Ireland', 'Iran, Islamic Republic of', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Saint Kitts and Nevis', 'Korea, Republic of', 'Kuwait', "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao', 'Saint Martin (French part)', 'Morocco', 'Monaco', 'Moldova, Republic of', 'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania', 'Montserrat', 'Martinique', 'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Niue', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Pitcairn', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Puerto Rico', "Korea, Democratic People's Republic of", 'Portugal', 'Paraguay', 'Palestine, State of', 'French Polynesia', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'South Georgia and the South Sandwich Islands', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Saint Pierre and Miquelon', 'Serbia', 'South Sudan', 'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Tokelau', 'Turkmenistan', 'Timor-Leste', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Taiwan, Province of China', 'Tanzania, United Republic of', 'Uganda', 'Ukraine', 'United States Minor Outlying Islands', 'Uruguay', 'United States', 'Uzbekistan', 'Holy See (Vatican City State)', 'Saint Vincent and the Grenadines', 'Venezuela, Bolivarian Republic of', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Viet Nam', 'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']

In [10]:
map2 = {'Bolivia': 'Bolivia, Plurinational State of',
'Brazil ': 'Brazil',
'Congo, Dem. Rep.': 'Congo, The Democratic Republic of the',
'Czech Republic': 'Czechia',
'Egypt, Arab Rep.': 'Egypt',
'Hong Kong SAR, China': 'Hong Kong',
'Iran, Islamic Rep.': 'Iran, Islamic Republic of',
'Kyrgyz Republic': 'Kyrgyzstan',
'Lao PDR': "Lao People's Democratic Republic",
'Micronesia, Fed. Sts.': 'Micronesia, Federated States of',
'São Tomé and Príncipe': 'Sao Tome and Principe',
'Slovak Republic': 'Slovakia',
'St. Lucia': 'Saint Lucia',
'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
'Taiwan, China': 'Taiwan, Province of China',
'Tanzania': 'Tanzania, United Republic of',
'Vietnam': 'Viet Nam'}

In [11]:
df['Economy'] = np.where(df['Economy'].isin(map2.keys()), df['Economy'].map(map2), df['Economy'])

In [12]:
df['ISO_code_alpha3'] = df['Economy'].map(iso3_mapping)

In [13]:
df[df['ISO_code_alpha3'].isna()==True]['Economy'].unique()

array(['Kosovo', 'Netherlands Antilles'], dtype=object)

In [14]:
df[df['ISO_code_alpha3'].isna()==True]

,Economy,Adult population,Year,Number of NEW\nLimited Liability Companies,New business density rate,ISO_code_alpha3
885,Kosovo,1214796.0,2006,767,0.631382,NaN
886,Kosovo,1214796.0,2007,858,0.706291,NaN
887,Kosovo,1214796.0,2008,876,0.721109,NaN
888,Kosovo,1214796.0,2009,858,0.706291,NaN
889,Kosovo,1214796.0,2010,971,0.799311,NaN
890,Kosovo,1214796.0,2011,1106,0.910441,NaN
891,Kosovo,1214796.0,2012,1466,1.206787,NaN
892,Kosovo,1214796.0,2013,1970,1.621671,NaN
893,Kosovo,1214796.0,2014,2117,1.742679,NaN
894,Kosovo,1214796.0,2015,2539,2.090063,NaN
895,Kosovo,1225209.0,2016,3978,3.246793,NaN
896,Kosovo,1184646.0,2017,4656,3.930288,NaN
897,Kosovo,1338581.0,2018,5366,4.008723,NaN
898,Kosovo,1338581.0,2019,5586,4.173076,NaN
899,Kosovo,1222104.0,2020,5768,4.719729,NaN
1217,Netherlands Antilles,149358.0,2006,1297,8.683833,NaN
1218,Netherlands Antilles,150708.0,2007,1418,9.408923,NaN
1219,Netherlands Antilles,152161.0,2008,1535,10.087999,NaN
1220,Netherlands Antilles,153617.0,2009,1227,7.987397,NaN
1221,Netherlands Antilles,154723.0,2010,1342,8.673565,NaN
1222,Netherlands Antilles,155837.0,2011,1265,8.117456,NaN
1223,Netherlands Antilles,156959.0,2012,1292,8.231449,NaN
1224,Netherlands Antilles,158089.0,2013,1237,7.824706,NaN
1225,Netherlands Antilles,159227.0,2014,1236,7.762503,NaN
1226,Netherlands Antilles,160373.0,2015,1302,8.118574,NaN
1227,Netherlands Antilles,161528.0,2016,1279,7.918132,NaN

In [15]:
df.isna().sum()

Economy                                        0
Adult population                               2
Year                                           0
Number of NEW\nLimited Liability Companies     0
New business density rate                      2
ISO_code_alpha3                               26
dtype: int64

In [16]:
df[df['Adult population'].isna()==True]

,Economy,Adult population,Year,Number of NEW\nLimited Liability Companies,New business density rate,ISO_code_alpha3
990,Liechtenstein,NaN,2019,313,NaN,LIE
991,Liechtenstein,NaN,2020,58,NaN,LIE

In [17]:
len(df)

1979

In [18]:
df = df.dropna(subset=['New business density rate']).dropna(subset=['ISO_code_alpha3'])

In [19]:
df.isna().sum()

Economy                                       0
Adult population                              0
Year                                          0
Number of NEW\nLimited Liability Companies    0
New business density rate                     0
ISO_code_alpha3                               0
dtype: int64

In [20]:
len(df)

1951

In [21]:
column_order = ['ISO_code_alpha3', 'Economy', 'Adult population', 'Year', 'Number of NEW\nLimited Liability Companies', 'New business density rate']
df = df[column_order]

df.rename(columns={'Economy': 'Country', 'Number of NEW\nLimited Liability Companies': 'Number of new Limited Liability Companies'}, inplace=True)

In [22]:
df['Adult population'] = df['Adult population'].astype(int)
df['Year'] = df['Year'].astype(int)
df['Number of new Limited Liability Companies'] = df['Number of new Limited Liability Companies'].astype(int)

In [23]:
df['New business density rate'] = df['New business density rate'].round(2)

In [24]:
df.head()

,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate
0,AFG,Afghanistan,14039528,2009,3653,0.26
1,AFG,Afghanistan,14444996,2010,4759,0.33
2,AFG,Afghanistan,15041824,2011,3745,0.25
3,AFG,Afghanistan,15743958,2012,3557,0.23
4,AFG,Afghanistan,16519812,2013,3191,0.19

In [25]:
df.dtypes

ISO_code_alpha3                               object
Country                                       object
Adult population                               int32
Year                                           int32
Number of new Limited Liability Companies      int32
New business density rate                    float64
dtype: object

In [26]:
df.insert(0, 'id', df['ISO_code_alpha3'] + '-' + df['Year'].astype(str))

In [27]:
df

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19
...,...,...,...,...,...,...,...
1974,ZWE-2016,ZWE,Zimbabwe,7642765,2016,8124,1.06
1975,ZWE-2017,ZWE,Zimbabwe,7759792,2017,9518,1.23
1976,ZWE-2018,ZWE,Zimbabwe,7892169,2018,16810,2.13
1977,ZWE-2019,ZWE,Zimbabwe,8034692,2019,25028,3.11
1978,ZWE-2020,ZWE,Zimbabwe,8185716,2020,20273,2.48

In [28]:
df.to_csv('prepared_ worldbank_new_firms_historical_data_1.csv', index=False)