In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('raw_taxfoundation_1980_2022_corporate_tax_rates_1.xlsx')

In [3]:
df.head()

,Unnamed: 0,iso_2,iso_3,continent,country,1980,1981,1982,1983,1984,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,AW,ABW,NO,Aruba,NaN,NaN,NaN,NaN,NaN,...,28.0,28.0,28.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0
1,2,AF,AFG,AS,Afghanistan,NaN,NaN,NaN,NaN,NaN,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
2,3,AO,AGO,AF,Angola,NaN,NaN,NaN,NaN,NaN,...,35.0,35.0,30.0,30.0,30.0,30.0,30.0,30.0,25.0,25.0
3,4,AI,AIA,NO,Anguilla,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,AX,ALA,EU,Aland Islands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.0,20.0,20.0,20.0,20.0,20.0

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df = pd.melt(df, id_vars=['iso_2', 'iso_3', 'continent', 'country'], var_name='Year', value_name='Corporate tax (Tax Foundation)')

In [6]:
df.insert(loc=0, column='id', value=(df['iso_3'] + '-' + df['Year'].astype(str)))

In [7]:
df.head()

,id,iso_2,iso_3,continent,country,Year,Corporate tax (Tax Foundation)
0,ABW-1980,AW,ABW,NO,Aruba,1980,NaN
1,AFG-1980,AF,AFG,AS,Afghanistan,1980,NaN
2,AGO-1980,AO,AGO,AF,Angola,1980,NaN
3,AIA-1980,AI,AIA,NO,Anguilla,1980,NaN
4,ALA-1980,AX,ALA,EU,Aland Islands,1980,NaN

In [8]:
df.isna().sum()

id                                   0
iso_2                               43
iso_3                                0
continent                            0
country                              0
Year                                 0
Corporate tax (Tax Foundation)    4136
dtype: int64

In [9]:
len(df)

10793

In [10]:
4136/10793

0.38321134068377655

In [11]:
df[df['Corporate tax (Tax Foundation)']==0]['country'].unique()

array(['United Arab Emirates', 'Bahrain', 'Bahamas', 'Bermuda',
       'Cayman Islands', 'Vanuatu', 'Anguilla', 'Andorra', 'Cook Islands',
       'Maldives', 'Turks and Caicos Islands', 'Afghanistan', 'Guernsey',
       'Jersey', 'British Virgin Islands', 'Isle of Man',
       'Republic of Moldova', 'Bonaire, Sint Eustatius and Saba',
       'Wallis and Futuna Islands', 'Saint Barthelemy', 'Tokelau',
       'Belize'], dtype=object)

In [12]:
df.to_csv('prepared_taxfoundation_1980_2022_corporate_tax_rates_1.csv', index=False)