In [1]:
import numpy as np
import pandas as pd
import pycountry

In [2]:
df = pd.read_csv('raw_gii_2013_2020.csv')

In [3]:
df.head()

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020
0,ABW,Aruba,40261,Institutions,Rank,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN
1,ABW,Aruba,40262,Institutions,Score (0-100),NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,ABW,Aruba,40266,Political stability,Value,NaN,NaN,1.3,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,40270,Political stability and absence of violence/te...,Index,NaN,1.3,NaN,1.2,NaN,NaN,NaN,NaN
4,ABW,Aruba,40274,Government effectiveness,Index,NaN,1.2,1.2,0.9,NaN,NaN,NaN,NaN

In [4]:
df = df[df['Indicator'] == 'Global Innovation Index']

In [5]:
df = df[df['Subindicator Type'] == 'Score (0-100)']

In [6]:
df.head()

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020
99,ABW,Aruba,40712,Global Innovation Index,Score (0-100),NaN,NaN,10.6,6.0,NaN,NaN,NaN,NaN
209,AFG,Afghanistan,40712,Global Innovation Index,Score (0-100),NaN,NaN,10.6,6.0,NaN,NaN,NaN,NaN
463,AGO,Angola,40712,Global Innovation Index,Score (0-100),23.5,23.8,26.2,NaN,NaN,NaN,NaN,NaN
857,ALB,Albania,40712,Global Innovation Index,Score (0-100),30.9,30.5,30.7,28.4,28.9,30.0,30.3,27.1
945,AND,Andorra,40712,Global Innovation Index,Score (0-100),NaN,NaN,10.6,6.0,NaN,NaN,NaN,NaN

In [7]:
df = df.drop('Indicator Id', axis=1).drop('Indicator', axis=1).drop('Subindicator Type', axis=1)

In [8]:
df = df.rename(columns={'Country ISO3': 'ISO_code_alpha3', 'Country Name': 'Country'})

In [9]:
df.head()

,ISO_code_alpha3,Country,2013,2014,2015,2016,2017,2018,2019,2020
99,ABW,Aruba,NaN,NaN,10.6,6.0,NaN,NaN,NaN,NaN
209,AFG,Afghanistan,NaN,NaN,10.6,6.0,NaN,NaN,NaN,NaN
463,AGO,Angola,23.5,23.8,26.2,NaN,NaN,NaN,NaN,NaN
857,ALB,Albania,30.9,30.5,30.7,28.4,28.9,30.0,30.3,27.1
945,AND,Andorra,NaN,NaN,10.6,6.0,NaN,NaN,NaN,NaN

In [10]:
df = pd.melt(df, id_vars=['ISO_code_alpha3', 'Country'], var_name='Year', value_name='Global Innovation Index')

In [11]:
df.head()

  ISO_code_alpha3      Country  Year  Global Innovation Index
0             ABW        Aruba  2013                      NaN
1             AFG  Afghanistan  2013                      NaN
2             AGO       Angola  2013                     23.5
3             ALB      Albania  2013                     30.9
4             AND      Andorra  2013                      NaN

In [12]:
df.isna().sum()

ISO_code_alpha3              0
Country                      0
Year                         0
Global Innovation Index    546
dtype: int64

In [13]:
df.dtypes

ISO_code_alpha3             object
Country                     object
Year                        object
Global Innovation Index    float64
dtype: object

In [14]:
df['Year'] = df['Year'].astype(int)

In [15]:
len(df)

1720

In [16]:
df.insert(0, 'id', df['ISO_code_alpha3'] + '-' + df['Year'].astype(str))

In [17]:
df.head()

         id ISO_code_alpha3      Country  Year  Global Innovation Index
0  ABW-2013             ABW        Aruba  2013                      NaN
1  AFG-2013             AFG  Afghanistan  2013                      NaN
2  AGO-2013             AGO       Angola  2013                     23.5
3  ALB-2013             ALB      Albania  2013                     30.9
4  AND-2013             AND      Andorra  2013                      NaN

In [18]:
df.dtypes

id                          object
ISO_code_alpha3             object
Country                     object
Year                         int32
Global Innovation Index    float64
dtype: object

In [19]:
df.to_csv('prepared_gii_2013_2020.csv', index=False)